@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-transparent text-forest-50 antialiased;
    font-feature-settings: "palt";
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d251d;
}

::-webkit-scrollbar-thumb {
  background: #23694b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #39a473;
}